<form id="sign-in">
    <h2>Proof of concept: Single Page Application</h2>

    <div class="form-group">
        <label for="username" class="control-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" autofocus required>
    </div>

    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" required>
    </div>

    <button type="submit" class="btn btn-default" id="sign-in-button">Sign In</button>
</form>