<li>
    <h3>
        <a href="#" id="find-nav">Find a Bed</a>
    </h3>
</li>
<li>
    <h3>
        <a href="#" id="bookings-nav">Bed Requests</a>
    </h3>
</li>
<li>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="account-dropdown">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li id="logout"><a href="#">Sign Out</a></li>
            </ul>
        </li>
    </ul>
</li>
