body {
    background-color: #E4E4E4;
}

/* Fonts */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Buttons */
.btn {
    background-color: #6D6D6D;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}

.btn-primary {
    color: #fff;
    background-color: #6D6D6D;
    border-color: #6D6D6D;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    color: #ffffff;
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}

.button-group {
    float: right; padding-right: 15px;
}

/* Custom Container - _Layout.cshtml */
.custom-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Sign In */
#sign-in {
    position: relative;
    max-width: 360px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

#sign-in h2 {
    text-align: center;
}

#sign-in label {
    font-weight: normal;
}

#sign-in-button {
    width: 100%;
    position: absolute;
    bottom: -1em;
    left: 0;
    border-radius: 0 !important;
    background: #6C6C6C;
    color: white;
}

#error-message {
    margin-left: -15px;
    margin-right: -15px;
    background: #6C6C6C;
    color: white;
    padding: 6px;
}

#error-message i {
    font-size: 15px;
}

#error-message ul {
    text-align: center;
    list-style: none outside none;
    margin-bottom: 0;
}

.success-message {
    background-color: #6C6C6C;
}

.error-message {
    background-color: #6C6C6C;
}

/* Form Input - used in validation.js*/
.warning {
    border: 1px solid #b94a48 !important;
}

.warning-label {
    color: #b94a48;
}

/* Header */
.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width : 935px) {
    .header {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Nav */
.navbar {
    margin-bottom: 0;
    border: 0;
}

.navbar .nav {
    float: right;
}

.navbar .nav .active {
    text-decoration: underline;
}

.navbar h3 a {
    color: #676767;
}

.navbar-brand h2 {
    margin: 0 0 0 0;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar .nav h3 {
    font-size: 18px;
    margin: 20px;
}

.navbar-fixed-top {
    position: inherit;
    margin-bottom: 2em;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #333;
}

.navbar-inverse .brand:active,
.navbar-inverse .nav > li > a:active,
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
    color: #808080;
}

.navbar {
    background-image: none !important;
    border-bottom: 1px solid #6B6B6B;
    border-radius: 0 !important;
}

#account-dropdown {
    font-size: 18px;
    padding-top: 20px;
    float: left;
    padding-right: 70px;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: transparent;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #6B6B6B;
}

.disabled {
    opacity: 0.4;
}
/* Sidebar */
.account-sidebar {
    margin: 0 !important;
    padding: 0 !important;
}

.account-sidebar li {
    list-style: none;
    padding: 1em;
}

.account-sidebar .active {
    background-color: #DADADA;
    border: 1px solid #B5B5B5;
    border-left: 8px solid #6C6C6C;
}

.sidebar {
    background-color: #EFEFEF;
    height: 35em;
}

@media only screen and (max-width : 768px) {
    .sidebar {
        height: 20em;
    }
}

.sidebar a {
    color: #000000;
    text-decoration: none;
}

.sidebar i {
    font-size: 2em;
    float: left;
    padding: 0.2em 0.5em;
}

/* Main Content */
#main-content .col-sm-3 {
    padding: 0;
}

/* Manage Content */
.manage-content {
    position: relative;
    background-color: #ffffff;
    height: 35em;
    padding-top: 20px;
}

@media only screen and (max-width : 768px) {
    .manage-content {
        height: auto;
    }
}

/* Organisation Detail */
#organisation-detail .form-control {
    border: 0;  
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#organisation-detail span {
    padding-top: 7px;
}

a#cancelChanges {
    color: #878787;
}

/* IOS Toggle */
/* Active toggle colour for production: #13bf11 */
.toggles {
    width: 45px;
    text-align: center;
    float: right
}

.ios-toggle, .ios-toggle:active {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
}

.checkbox-label {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    height: 26px;
    /*border-radius*/
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background: #f8f8f8;
    cursor: pointer;
}

.checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 26px;
    width: 26px;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: auto;
    background: white;
    /*box-shadow*/
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    box-shadow: 0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}

.checkbox-label:after {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -300px;
    padding: 10px;
    height: 100%;
    width: 300px;
    text-align: right;
    color: #bfbfbf;
    white-space: nowrap;
}

.ios-toggle:checked + .checkbox-label {
    -webkit-box-shadow: inset 0 0 0 20px #A4A4A4,0 0 0 2px #A4A4A4;
    -moz-box-shadow: inset 0 0 0 20px #A4A4A4,0 0 0 2px #A4A4A4;
    box-shadow: inset 0 0 0 20px #A4A4A4,0 0 0 2px #A4A4A4;
}

.ios-toggle:checked + .checkbox-label:before {
    left: calc(100% - 26px);
    -webkit-box-shadow: 0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    box-shadow: 0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}

.ios-toggle:checked + .checkbox-label:after {
    left: 60px;
    width: 26px;
}

